/*位置*/
.position1{
	  width: 950px;
	  height: 49px;
	  border-bottom: dashed 1px;
	  padding-left:  50px;
	  float: left;
	  font-size: 20px;
	  overflow: hidden;
      line-height: 48px;
}
/*照片*/
.photo2{
	  width: 931.5px;
	  height: 585px;
	  margin: 15px 68.5px 0px 0px;
	  float: left;
	  overflow: hidden;
}
.photo3{
	width: 242px;
	height: 175px;
	margin: 0px 0px 20px 68.5px;
	float: left;
	border-radius: 15px; 
	overflow: hidden;
}
/*rules正文*/
.notice{
	  width: 760px;
	  height: 550px;
	  margin:35px 51px 0px 120px;
	  float: left;
	  overflow: hidden;
}
.p1{
	font-size: 19px;
	text-align: center;

}
.p2{
	font-size: 16px;
	text-align: center;
	
}
.p3{
	font-size: 16px;
	text-align: right;

	
}
.p4{
	font-size: 16px;
	text-align: left;
	line-height: 140%;
}